<div class="app-container">
  <div class="app-header">
    <h1>Programa Nacional de Vivienda Rural</h1>
  </div>
  <div class="app-map">
    <app-map></app-map>
  </div>
</div>

<app-search-drawer></app-search-drawer>
<app-search-tabular-drawer></app-search-tabular-drawer>
<app-view-drawer></app-view-drawer>
<app-base-layer-drawer></app-base-layer-drawer>
<app-chatbot-drawer></app-chatbot-drawer>
<app-wms-layer-drawer></app-wms-layer-drawer>
<app-location-drawer></app-location-drawer>
<app-layer-drawer></app-layer-drawer>
<app-layer-info-drawer></app-layer-info-drawer>
