<p-drawer
  [visible]="(isVisible | async) ?? false"
  header="Búsqueda avanzada"
  [style]="{ width: '28rem' }"
  (onHide)="onHide()"
  (onShow)="onDrawerOpen()"
>
  <div class="app-space-vertical">
    <p-fieldset legend="Categorización">
      <form
        [formGroup]="formGroup"
        (ngSubmit)="onSubmit()"
      >
        <div class="app-form-group">
          <label for="categoryParent">Categoría:</label>
          <p-tree-select
            id="categoryParent"
            formControlName="categoryParent"
            [options]="categoryTree"
            appendTo="body"
            fluid
            showClear
            placeholder="Seleccione una categoría"
          ></p-tree-select>
        </div>
        <div class="app-form-group">
          <label for="layer">Capa:</label>
          <p-select
            formControlName="layerId"
            [options]="layers"
            optionValue="id"
            optionLabel="title"
            filterBy="label"
            appendTo="body"
            fluid
            filter
            showClear
            placeholder="Seleccione"
          />
        </div>
        <p-button
          label="Buscar"
          icon="pi pi-search"
          type="submit"
          severity="success"
          size="large"
          [disabled]="formGroup.invalid"
          [fluid]="true"
        ></p-button>
      </form>
    </p-fieldset>
    <form>
      <p-fieldset legend="Filtros avanzados"></p-fieldset>
    </form>
  </div>
</p-drawer>
