<div class="app-space-horizontal">
  <p-button
    icon="pi pi-list"
    [rounded]="true"
    [raised]="true"
    severity="danger"
    pTooltip="Capas activas"
    (click)="onOpenLayerInfoDrawer()"
  />
  <p-button
    icon="pi pi-eye"
    [rounded]="true"
    [raised]="true"
    severity="danger"
    pTooltip="Búsqueda avanzada"
    (click)="onOpenLegendDrawer()"
  />
  <p-button
    icon="pi pi-share-alt"
    [rounded]="true"
    [raised]="true"
    severity="danger"
    pTooltip="Búsqueda avanzada"
  />
</div>
